/* Global styles */
body {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.6rem;
  margin: 0;
  padding: 0;
  color: #444;
  zoom: 0.75;
}

h1,
h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: #dd8520;
}

a {
  color: #c96b00;
  text-decoration: none;
  transition: all 0.3s;
}

a:hover {
  color: #444;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Header section */
header {
  background-color: #444;
  color: #fff;
  padding: 8rem 2rem;
  text-align: center;
  padding-left: 20%;
  padding-right: 20%;
}

header h1 {
  font-size: 5rem;
  margin-bottom: 1rem;
}

header p {
  font-size: 2rem;
  margin-bottom: 2rem;
}

li:after {
  content: "";
  display: block;
  height: 1px;
  width: 100%;
  background-color: #f7f7f7;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  border: none; 
}


/* Social links section */
.SocialLinks {
  background-color: #f7f7f7;
  padding: 4rem 2rem;
  text-align: center;
  padding-left: 20%;
  padding-right: 20%;
}

.SocialLinks ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.SocialLinks li {
  margin: 0 2rem;
}

.SocialLinks img {
  width: 3rem;
  margin-right: 1rem;
}

/* Education section */
.EducationSection {
  background-color: #fff;
  padding: 8rem 2rem;
  padding-left: 20%;
  padding-right: 20%;
}

.EducationSection ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 4rem;
  margin: 0;
  padding: 0;
}

.EducationSection li {
  margin: 0;
}

.EducationSection h2 {
  font-size: 3rem;
  text-align: center;
}

.EducationSection strong {
  font-size: 2rem;
  color: #c96b00;
}

/* Work experience section */
.WorkExperienceSection {
  background-color: #f7f7f7;
  padding: 8rem 2rem;
  padding-left: 20%;
  padding-right: 20%;
}

.WorkExperienceSection ul {
  list-style-type: square;
  margin: 0;
  padding: 0;
}

.WorkExperienceSection li {
  margin-bottom: 1rem;
  position: relative;
}

.WorkExperienceSection li:after {
  content: '';
  position: absolute;
  width: 0.5rem;
  height: 100%;
  background-color: #444;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}

.WorkExperienceSection h2 {
  font-size: 3rem;
  margin-bottom: 1.5rem;
  text-align: center;
}

.WorkExperienceSection strong {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #c96b00;
}

.WorkExperienceSection ul li:first-child:after {
  display: none;
}

.WorkExperienceSection ul li:last-child {
  margin-bottom: 0;
}

/* Certificates section */
.CertificatesSection {
  background-color: #fff;
  padding: 8rem 2rem;
  padding-left: 20%;
  padding-right: 20%;
}

.CertificatesSection ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  }
  
  .CertificatesSection li {
  margin: 0;
  text-align: center;
  }
  
  .CertificatesSection h2 {
  font-size: 3rem;
  margin-bottom: 4rem;
  text-align: center;
  }
  
  .CertificatesSection strong {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #c96b00;
  }
  
  /* Projects section */
  .ProjectsSection {
  background-color: #f7f7f7;
  padding: 8rem 2rem;
  padding-left: 20%;
  padding-right: 20%;
  }
  
  .ProjectsSection ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 4rem;
  margin: 0;
  padding: 0;
  }
  
  .ProjectsSection li {
  margin: 0;
  position: relative;
  }
  
  .ProjectsSection li:after {
  content: '';
  position: absolute;
  width: 0.5rem;
  height: 100%;
  background-color: #444;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  }
  
  .ProjectsSection h2 {
  font-size: 3rem;
  margin-bottom: 4rem;
  text-align: center;
  }
  
  .ProjectsSection strong {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #c96b00;
  }
  
  .ProjectsSection ul li:first-child:after {
  display: none;
  }
  
  .ProjectsSection ul li:last-child {
  margin-bottom: 0;
  }
  
  .ProjectsSection ul li span {
  font-weight: bold;
  margin-right: 1rem;
  }
  
  /* Skills section */
  .SkillsSection {
  background-color: #fff;
  padding: 8rem 2rem;
  padding-left: 20%;
  padding-right: 20%;
  }
  
  .SkillsSection ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  }
  
  .SkillsSection li {
  flex-basis: 30%;
  margin: 1rem 0;
  }
  
  .SkillsSection h2 {
  font-size: 3rem;
  margin-bottom: 3rem;
  text-align: center;
  }
  
  .SkillsSection i {
  font-size: 3rem;
  margin-bottom: 1rem;
  color: #c96b00;
  }
  
  .SkillsSection span {
  font-weight: bold;
  }

  /* Rock Shooter section */
  .RockShooterSection {
  background-color: #f7f7f7;
  padding: 8rem 2rem;
  padding-left: 20%;
  padding-right: 20%;
  align-items: center;
  }
  

  /* Footer section */
  footer {
  background-color: #444;
  color: #fff;
  padding: 2rem;
  text-align: center;
  padding-left: 20%;
  padding-right: 20%;
  }
  
  footer p {
  margin: 0;
  }
  
  @media only screen and (max-width: 768px) {
  
  .WorkExperienceSection, .ProjectsSection, .SkillsSection, .EducationSection {
  padding: 4rem 1rem;
  }

  .SocialLinks ul {
  display: flex;
  justify-content: center;
  }

  .SocialLinks li {
  margin: 0 0.5rem;
  }
  
  .SocialLinks img {
  width: 30px;
  height: 30px;
  }
  
  .EducationSection ul {
  grid-template-columns: 1fr;
  }
  
  .WorkExperienceSection ul {
  margin-left: 2rem;
  }
  
  .CertificatesSection ul,
  .ProjectsSection ul {
  grid-template-columns: 1fr;
  }
  
  .SkillsSection ul {
  flex-direction: column;
  align-items: center;
  }
  
  .SkillsSection li {
  flex-basis: auto;
  text-align: center;
  }

  
  }
